.buttons {
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  button {
    font-family: "Montserrat", sans-serif;
    border: none;
    padding: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0 1px;
    min-width: 185px;
    color: white;
    background-color: #898989;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #de2953;
    }
  }

  button:disabled {
    background-color: $light-grey;
    color: $dark-grey;
    cursor: default;
  }

  .randomPick:not(:disabled) {
    background-color: $blue;

    &:hover {
      background-color: $yellow;
      color: $blue;
    }
  }
}

// Ipad portrait
@media screen and (max-height: 769px) {
  .buttons {
    margin-bottom: 2rem;
  }
}

// Mobile
@media screen and (max-width: 600px) {
  .buttons {
    button {
      width: 50%;
      margin: 0;
      min-width: auto;
      min-height: 68px;
    }
  }
}
