.logo > * {
  margin-top: 1rem;
  margin-left: 1rem;
}

.illustration > * {
  display: block;
  margin: auto;
  margin-top: 4rem;
}

.title {
  margin-top: 4rem;

  h2,
  h3 {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    color: $black;
    margin: 0;
  }

  .empty {
    font-weight: 300;
    color: $dark-grey;
  }

  h3 {
    font-weight: 800;
    color: $blue;
  }
}

// Ipad portrait
@media screen and (max-height: 769px) {
  .illustration > *,
  .title {
    margin-top: 2rem;
  }
}

// Mobile
@media screen and (max-width: 600px) {
  .illustration > * {
    margin: auto;
    width: 90%;
    margin-top: 2rem;
  }

  .title {
    margin: 2rem auto;
    width: 90%;

    .my-tasks {
      text-align: left;
    }
  }
}
