ul {
  max-width: 90%;
  margin: 0 auto;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    word-break: break-all;

    input {
      appearance: none;
      -webkit-appearance: none;
      border: 1px solid #ebebeb;
      box-shadow: 2px 2px 16px rgba(47, 93, 190, 0.15);
      border-radius: 0.25rem;
      min-width: 2rem;
      height: 2rem;
    }

    span {
      margin-left: 1rem;
      font-weight: 500;
      font-size: 1rem;
      color: $dark-grey;
    }
  }
}

// Animations
.todo-enter {
  opacity: 0;
  transition: 0.3s;

  &.todo-enter-active {
    opacity: 1;
  }
}

.todo-exit {
  opacity: 1;
  transition: 0.3s;

  &.todo-exit-active {
    opacity: 0;
  }
}
